
body {
    color: black;
    background: #FFFFFF;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(#000000) vvar(#000000);
  }

  *::-webkit-scrollbar-track {
    background: var(#000000);
    border-radius: 5px;
  }
  